body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a altura mínima da página seja igual à altura da janela de visualização */
    align-items: center; /* Alinha o conteúdo no centro verticalmente */
    justify-content: center; /* Alinha o conteúdo no centro horizontalmente */
}

.login-container {
    background: #bdbdbd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90%; /* Largura máxima do formulário */
    width: 320px; /* Largura padrão do formulário */
}

.login-container h1 {
    margin-top: 0;
    color: #6200ea;
}

.login-input {
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-button {
    width: calc(100% - 20px);
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #512da8;
}


 /* Estilo para o link "Cadastre-se" */
.signup-link {
    margin-top: 10px;
    color: black; /* Cor padrão do texto */
    cursor: pointer;
}

/* Estilo para o link "Cadastre-se" quando hover */
.signup-link:hover span {
    color: blue; /* Mudança de cor apenas para o texto dentro da span */
    text-decoration: underline;
}


