@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

header {
    width: 100%;
    background-color: #003366;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-text {
    text-align: center;
    margin-top: 20px;
}

.icon-container img {
    width: 45px; 
    height: 45px; 
    margin-left: 0px; 
    border-radius: 50%; 
    border: 2px solid white;
    position: sticky;
}

.voltar {
    background-color: #003366;
    border-radius: 50%;
    border: solid white;
    margin: 15px;
}

.voltar:hover {
    cursor: pointer;
} 

.voltar img {
    max-width: 45px;
}

.continuar {
    background-color: #003366;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.icon-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

#back-icon {
    cursor: pointer;
}

.history-container {
    padding: 10px;
    background-color: #f9f9f9;
    min-height: calc(100vh - 150px); /* Ajusta a altura conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Impede que o conteúdo extravase a div container */
    position: relative;
}

.info-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 70vh; /* Define uma altura fixa */
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
}

.info-box h2 {
    margin-top: 0;
}

.loan-entry {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 150px; /* Define a altura fixa para cada entrada de empréstimo */
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-bottom: solid green;
}

.loan-entry:hover button{
    transition: opacity 0.3s ease-in-out;
    height: 50px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.loan-entry button{
    width: 100%;
    height: 40px;
    background-color: grey;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: green;
    z-index: 5;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

.loan-entry p {
    margin: 5px 0;
}

.generate-loan-button {
    background-color: #003366;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.generate-loan-button:hover {
    background-color: white;
    color: #003366;
}

.continuar {
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h2 {
    margin-bottom: 20px;
}

.loan-container {
    width: 100%;
}

