@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: montserrat;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a altura mínima da página seja igual à altura da janela de visualização */
    align-items: center; /* Alinha o conteúdo no centro verticalmente */
    justify-content: center; /* Alinha o conteúdo no centro horizontalmente */
}

.login-container {
    background: #003366; /* corzinha primaria azul gostei */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    text-align: center;
    max-width: 90%; /* Largura máxima do formulário */
    width: 320px; /* Largura padrão do formulário */
}

.login-container h1 {
    margin-top: 0;
    color: #D3D3D3;
}

.login-input {
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-button {
    width: calc(100% - 20px);
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    background-color: #D3D3D3;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-bottom: 5px;
}

.login-button::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #D3D3D3;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.login-button:hover::after{
    width: 100%;
    left: 0;
    background: #D3D3D3;
}

.login-button:hover {
    background-color: #003366;
    color: #D3D3D3;
    transition: 0.3s;
}


 /* Estilo para o link "Cadastre-se" */
.signup-link {
    margin-top: 10px;
    color: #D3D3D3; /* Cor padrão do texto */
    cursor: pointer;
}

/* Estilo para o link "Cadastre-se" quando hover */
.signup-link:hover span {
    color: blue; /* Mudança de cor apenas para o texto dentro da span */
    text-decoration: underline;
}

.styled-form {
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}

.login-container label {
    font-size: 14px;
    color: #003366;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.login-container input:focus {
    border-color: #003366;
    outline: none;
}

.login-container h1{
    text-align: center;
    margin-top: 15px;
}


