@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: montserrat;
    margin: 0;
    padding: 0;
    background-color: #ff0000;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a altura mínima da página seja igual à altura da janela de visualização */
}
.container {
    flex: 1; /* Faz com que o contêiner ocupe o espaço restante vertical */
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.header {
    padding: 15px;
    background: #003366;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 24px;
    height: 24px;
}
.footer {
    padding: 10px;
    background: #003366;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.balance {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    background-color: #f9f9f9;
}
.balance h2 {
    margin: 0;
    font-size: 1.5em;
}
.balance p {
    margin: 5px 0 0;
    color: #666;
}
.menu-wrapper {
    overflow: hidden; /* Esconder conteúdo além da largura do contêiner */
}
.menu {
    display: flex;
    transition: transform 0.3s ease; /* Adicionar transição suave para o efeito de deslizamento */
}
.menu div {
    text-align: center;
    width: 33.33%;
    padding: 10px 0; /* Adicionando padding para espaçamento interno */
    border-bottom: 1px solid #ddd; /* Adicionando borda inferior */
}
.menu div:last-child {
    border-bottom: none; /* Removendo borda inferior do último item */
}
.menu div:hover {
    background-color: #f5f5f5; /* Alterar cor de fundo ao passar o mouse */
}
.menu div img {
    width: 48px;
    height: 48px;
    max-width: 100%;
    height: auto;
}
.menu div p {
    margin: 5px 0 0; /* Alterando margem do parágrafo */
    font-size: 0.9em;
    color: #D3D3D3;
}

.loan-requests {
    flex-grow: 1; 
    background-color: #f9f9f9; /* Cor de fundo cinza */
    padding: 20px; /* Adicionando algum espaço interno */
    border-bottom: 1px solid #ddd; /* Adicionando uma borda inferior como separador */
    position: absolute;
    bottom: 0px;
}

.news {
    flex-grow: 1; 
    padding: 20px;
    background-color: #ccc;
    border-bottom: 1px solid #ddd;
    text-align: left;
    position: relative;
    overflow: hidden;
}


h4.underlined {
    text-decoration: underline;
}

.purple-line {
    height: 10px; /* Altura da linha roxa */
    background-color: #003366;
    color: #fff;; /* Cor roxa */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.profile-panel {
    position: fixed;
    top: 0;
    left: -300px; /* Inicialmente escondido */
    width: 300px;
    height: 100%;
    background-color: #6200ea; /* Cor de fundo semelhante à aba principal */
    color: #fff; /* Cor do texto semelhante à aba principal */
    font-family: Arial, sans-serif; /* Fonte semelhante à aba principal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease; /* Adiciona uma transição suave */
    z-index: 999; /* Certifique-se de que o painel esteja acima de outros elementos */
}

.profile-panel h2, .help-panel h2 {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.5em; /* Tamanho da fonte semelhante à aba principal */
}

.profile-panel p, .help-panel p {
    margin: 5px 0;
    padding: 5px;
}

.profile-panel img, .help-panel img {
    width: 45px;
    height: 45px;
    margin-left: 0px;
    border-radius: 50%;
    border: 2px solid black;
}

/* Estilos para o painel lateral de ajuda */
.help-panel {
    position: fixed;
    top: 0;
    right: -300px; /* Inicialmente escondido */
    width: 300px;
    height: 100%;
    background-color: #6200ea; /* Cor de fundo semelhante à aba principal */
    color: #fff; /* Cor do texto semelhante à aba principal */
    font-family: Arial, sans-serif; /* Fonte semelhante à aba principal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease; /* Adiciona uma transição suave */
    z-index: 999; /* Certifique-se de que o painel esteja acima de outros elementos */
} 

.carousel-container.alert {
    padding: 20px;
    background-color: #fff3cd; /* Cor de fundo amarela clara */
    color: #856404; /* Cor do texto marrom escuro */
    border: 1px solid #ffeeba; /* Borda amarela clara */
    border-radius: 5px; /* Cantos arredondados */
    margin: 20px 0; /* Margem acima e abaixo */
    font-family: 'Poppins', sans-serif; /* Fonte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.carousel-container.alert h2 {
    margin-top: 0; /* Remove margem superior */
    font-size: 18px; /* Tamanho da fonte */
    color: #856404; /* Cor do título */
}

.carousel-container.alert p {
    margin: 10px 0; /* Margem superior e inferior */
    font-size: 16px; /* Tamanho da fonte */
}



/* Estilo para a lightbox */
.lightbox {
    display: none; /* Inicialmente escondida */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
    z-index: 9999; /* Garante que a lightbox esteja na frente de todos os outros elementos */
    backdrop-filter: blur(10px); /* Aplica um filtro de desfoque ao fundo */
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidade com navegadores baseados em WebKit */
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px; /* Maior espaçamento interno */
    border-radius: 10px; /* Borda mais arredondada */
    text-align: center;
    max-width: 80%; /* Largura máxima */
    max-height: 80%; /* Altura máxima */
    overflow: auto; /* Adiciona barras de rolagem se o conteúdo for maior que a caixa */
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; 
}

.lightbox-content h2 {
    margin-bottom: 20px; /* Espaçamento entre o texto e os botões */
}

/* Estilo para os botões dentro da lightbox */
.lightbox-content button {
    background-color: purple; /* Cor de fundo roxa */
    color: white; /* Cor do texto branca */
    padding: 10px 20px; /* Maior espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor de ponteiro ao passar por cima */
    margin: 0 5px; /* Margem entre os botões */
    font-size: 16px; /* Tamanho da fonte */
    margin: 0 5px; /* Margem entre os botões */
}

.lightbox-content button:hover {
    background-color: #6a1b9a; /* Altera a cor de fundo quando hover */
}

.button-container {
    display: flex;
}

.lightbox-content button {
    /* ... */
    margin: 0 5px; /* Margem entre os botões */
}

.change-color {
    background-color: #D3D3D3; /* Alterar para a cor desejada */
    transition: background-color 0.3s ease;
    border-radius: 50%; /* Apenas se desejar bordas arredondadas */
}

.BalanceHistory {
    padding: 20px;
    text-align: left;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.BalanceHistory h2{
    text-align: center;
}

.Payment{
    width: 90%;
    background-color: #003366;
    color: white;
    margin: 22px;
    height: 90px;
    border: none;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    font-family: montserrat;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 10px;
}

.Payment:hover{
    cursor: pointer;
    background-color: white;
    color: #003366;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.BalanceHistory h2{
    margin-bottom: 10px;
    color: #333;
}

.BalanceHistory p, .Payment p {
    color: #666;
}

.history-window {
    height: 160px; /* Altura fixa da janela para mostrar até 3 itens */
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical se necessário */
    border: 2px solid #ccc; /* Adiciona uma borda mais grossa ao redor da janela */
    padding: 10px; /* Adiciona um espaçamento interno */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    height: 65vh;
}

.history-window p {
    margin: 0; /* Remova a margem padrão dos parágrafos */
    padding: 10px; /* Adiciona um espaçamento interno */
    border-radius: 5px; /* Adiciona bordas arredondadas */
}

.history-window p:nth-child(odd) {
    background-color: #f9f9f9; /* Cor de fundo branca para os blocos ímpares */
}

.history-window p:nth-child(even) {
    background-color: #ddd; /* Cor de fundo cinza para os blocos pares */
}

.PaymentScreen {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: transform 0.6s ease;
    transform: translateY(100%);
}

.PaymentScreen .header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-visible {
    transform: translateY(0%);
}

.PaymentScreen .input-group input {
    width: calc(90% - 0px); /* 80% da largura total menos 40 pixels para considerar os espaços de 20px em cada borda */
    padding: 12px; /* Adicionando um padding de 12px em todos os lados */
    border: 1px solid rgba(0, 0, 0, 0.4); /* Cor da borda com transparência */
    border-radius: 10px;
    margin: 0 20px; /* Adiciona um espaço de 20 pixels em ambos os lados */
    margin-bottom: 15px;
    font-size: 16px;
    box-sizing: border-box;
}
#sendButton:hover {
    background-color: #6a1b9a;
}

.PaymentScreen #sendButton {
    width: 50%;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #6200ea;
    color: var(--white-color);
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto;
    display: block;
    margin-bottom: 2em; 
}
.PaymentScreen .input-group:focus-within input {
    border: 1px solid #ddd; 
    border-radius: 10px; 
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loading-animation {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.success-message {
    display: none;
    text-align: center;
    color: green;
}

.success-message img {
    margin-bottom: 10px;
}

.error-message {
    display: none;
    text-align: center;
    color: rgb(255, 0, 0);
}

.error-message img {
    margin-bottom: 10px;
}


.icon-container img{
    transition: 0.3s;
}

.icon-container img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.sendButton{
    background-color: #003366;
}

.eye-icon{
    height: 40px;
}

.balance-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.balance {
    font-size: 1.5em;
    margin: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    background-color: #D3D3D3;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    cursor: pointer;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.eye-icon-hidden {
    display: none;
    height: 40px;
}

.toggle-checkbox:checked + .toggle-label .eye-icon {
    display: none;
}

.toggle-checkbox:checked + .toggle-label .eye-icon-hidden {
    display: inline;
}

.toggle-checkbox:checked ~ .balance {
    visibility: hidden;
    opacity: 0;
}

.info-title{
    margin: 20px;
}

.Send{
    background-color: green;
}

.Payment-information{
    text-align: center;
    height: 50vh;
}